@import "../variables";
@import "../mixin";

/*===========================
  ALERTS css 
===========================*/

.alerts-title {
  & .title {
    font-size: 36px;
    line-height: 45px;
    color: var(--bs-dark-3);

    @media #{$xs} {
      font-size: 24px;
      line-height: 35px;
    }
  }
}

/* Labels CSS */
.label {
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid transparent;
  background: transparent;

  &.rounded-full {
    border-radius: 50px;
    padding: 4px 12px;
  }

  &.icon-left {
    i {
      padding-right: 6px;
    }
  }

  &.icon-right {
    i {
      padding-left: 6px;
    }
  }

  &.primary-label {
    background: var(--bs-primary);
    color: var(--bs-white);
  }

  &.primary-label-outline {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  &.success-label {
    background: var(--bs-success);
    color: var(--bs-white);
  }

  &.success-label-outline {
    color: var(--bs-success);
    border-color: var(--bs-success);
  }

  &.info-label {
    background: var(--bs-info);
    color: var(--bs-white);
  }

  &.info-label-outline {
    color: var(--bs-info);
    border-color: var(--bs-info);
  }

  &.caution-label {
    background: var(--bs-caution);
    color: var(--bs-white);
  }

  &.caution-label-outline {
    color: var(--bs-caution);
    border-color: var(--bs-caution);
  }

  &.error-label {
    background: var(--bs-error);
    color: var(--bs-white);
  }

  &.error-label-outline {
    color: var(--bs-error);
    border-color: var(--bs-error);
  }

  &.accent-label {
    background: var(--bs-accent);
    color: var(--bs-white);
  }

  &.accent-label-outline {
    color: var(--bs-accent);
    border-color: var(--bs-accent);
  }

  &.secondary-label {
    background: var(--bs-secondary);
    color: var(--bs-white);
  }

  &.secondary-label-outline {
    color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }
}

/* Alerts CSS */
.alert {
  padding: 32px;
  padding-left: 0;
  border-radius: 4px;
  box-shadow: var(--bs-shadow-2);
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  }

  &.alert-dismissible {
    padding: 12px 48px 12px 0;

    .alert-icon {
      padding: 0px 12px 0 36px;
      line-height: 1;
    }

    .alert-message {
      h5 {
        margin-bottom: 0px;
      }
    }

    .btn-close {
      background: none;
      padding: 1rem;

      &:focus-within,
      &:focus {
        @include box-shadow(none);
      }

      &.dark {
        i {
          color: var(--bs-black);
        }
      }

      i {
        color: var(--bs-white);
        font-weight: 700;
      }
    }
  }

  .alert-icon {
    padding: 32px;

    i {
      font-size: 20px;
      font-weight: 700;
    }
  }

  .alert-message {
    h5 {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 8px;
    }
    p {
      color: var(--bs-black);
      opacity: 0.88;
    }
  }

  // alert-primary-light
  &.alert-primary-light {
    background: var(--bs-primary-light);

    &::before {
      background: var(--bs-primary);
    }
    .alert-icon {
      color: var(--bs-primary);
    }
  }

  // alert-primary
  &.alert-primary {
    background: var(--bs-primary);

    &::before {
      background: var(--bs-primary-dark);
    }
    .alert-icon {
      color: var(--bs-white);
    }
    .alert-message {
      h5 {
        color: var(--bs-white);
      }
      p {
        color: var(--bs-white);
      }
    }
  }

  // alert-accent-light
  &.alert-accent-light {
    background: var(--bs-accent-light);

    &::before {
      background: var(--bs-accent);
    }
    .alert-icon {
      color: var(--bs-accent);
    }
  }

  // alert-accent
  &.alert-accent {
    background: var(--bs-accent);

    &::before {
      background: var(--bs-accent-dark);
    }
    .alert-icon {
      color: var(--bs-white);
    }
    .alert-message {
      h5 {
        color: var(--bs-white);
      }
      p {
        color: var(--bs-white);
      }
    }
  }

  // alert-secondary-light
  &.alert-secondary-light {
    background: var(--bs-secondary-light);

    &::before {
      background: var(--bs-secondary);
    }
    .alert-icon {
      color: var(--bs-secondary);
    }
  }

  // alert-secondary
  &.alert-secondary {
    background: var(--bs-secondary);

    &::before {
      background: var(--bs-secondary-dark);
    }
    .alert-icon {
      color: var(--bs-white);
    }
    .alert-message {
      h5 {
        color: var(--bs-white);
      }
      p {
        color: var(--bs-white);
      }
    }
  }

  // alert-success-light
  &.alert-success-light {
    background: var(--bs-success-light);

    &::before {
      background: var(--bs-success);
    }
    .alert-icon {
      color: var(--bs-success);
    }
  }

  // alert-success
  &.alert-success {
    background: var(--bs-success);

    &::before {
      background: var(--bs-success-dark);
    }
    .alert-icon {
      color: var(--bs-white);
    }
    .alert-message {
      h5 {
        color: var(--bs-white);
      }
      p {
        color: var(--bs-white);
      }
    }
  }

  // alert-info-light
  &.alert-info-light {
    background: var(--bs-info-light);

    &::before {
      background: var(--bs-info);
    }
    .alert-icon {
      color: var(--bs-info);
    }
  }

  // alert-info
  &.alert-info {
    background: var(--bs-info);

    &::before {
      background: var(--bs-info-dark);
    }
    .alert-icon {
      color: var(--bs-white);
    }
    .alert-message {
      h5 {
        color: var(--bs-white);
      }
      p {
        color: var(--bs-white);
      }
    }
  }

  // alert-caution-light
  &.alert-caution-light {
    background: var(--bs-caution-light);

    &::before {
      background: var(--bs-caution);
    }
    .alert-icon {
      color: var(--bs-caution);
    }
  }

  // alert-caution
  &.alert-caution {
    background: var(--bs-caution);

    &::before {
      background: var(--bs-caution-dark);
    }
    .alert-icon {
      color: var(--bs-white);
    }
    .alert-message {
      h5 {
        color: var(--bs-white);
      }
      p {
        color: var(--bs-white);
      }
    }
  }

  // alert-error-light
  &.alert-error-light {
    background: var(--bs-error-light);

    &::before {
      background: var(--bs-error);
    }
    .alert-icon {
      color: var(--bs-error);
    }
  }

  // alert-error
  &.alert-error {
    background: var(--bs-error);

    &::before {
      background: var(--bs-error-dark);
    }
    .alert-icon {
      color: var(--bs-white);
    }
    .alert-message {
      h5 {
        color: var(--bs-white);
      }
      p {
        color: var(--bs-white);
      }
    }
  }

  // alert-dark-light
  &.alert-dark-light {
    background: var(--bs-light-3);

    &::before {
      background: var(--bs-dark-1);
    }
    .alert-icon {
      color: var(--bs-dark);
    }
  }

  // alert-dark
  &.alert-dark {
    background: var(--bs-dark-3);

    &::before {
      background: var(--bs-dark-1);
    }
    .alert-icon {
      color: var(--bs-white);
    }
    .alert-message {
      h5 {
        color: var(--bs-white);
      }
      p {
        color: var(--bs-white);
      }
    }
  }
}

/* ======= Switch Buttons ========== */

.switch-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  & > * {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

// ======
.switch-btn {
  width: 54px;
  height: 32px;
  position: relative;
  cursor: pointer;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }

  input:checked ~ .switch-body .slide .inactive-icon {
    display: flex;
  }

  input:checked ~ .switch-body .slide {
    right: auto;
    left: 2px;
  }

  input:checked ~ .switch-body .slide .active-icon {
    display: none;
  }

  .slide {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    color: var(--bs-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2px;
    top: 2px;
    transition: all 0.3s;

    .icon {
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      padding: 4px;
    }

    .inactive-icon {
      display: none;
      background: #e0e0e0;
      color: var(--bs-dark-3);
    }
    .active-icon {
      background: var(--bs-primary);
    }
  }

  .switch-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
      0px 0.5px 2px rgba(96, 97, 112, 0.16);
    border-radius: 24px;
  }
}

// ======
.switch-btn-text {
  width: auto;
  height: 32px;
  position: relative;
  cursor: pointer;

  input:checked ~ .switch-body .slide-text .active {
    display: none;
  }
  input:checked ~ .switch-body .slide-text .inactive {
    display: flex;
  }

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }

  input:checked ~ .switch-body .slide .inactive-icon {
    display: flex;
  }

  input:checked ~ .switch-body .slide {
    right: auto;
    left: 2px;
  }

  input:checked ~ .switch-body .slide .active-icon {
    display: none;
  }

  .switch-body .slide-text .inactive {
    display: none;
    padding-left: 36px;
    padding-right: 6px;
    color: var(--bs-dark-3);
  }

  .slide-text .text {
    font-size: 12px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .switch-body .slide-text .active {
    padding-right: 36px;
    padding-left: 6px;
    color: var(--bs-primary);
  }

  .slide {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    color: var(--bs-white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 2px;
    top: 2px;
    transition: all 0.3s;

    .icon {
      width: 100%;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      padding: 4px;
    }

    .inactive-icon {
      display: none;
      background: #e0e0e0;
      color: var(--bs-dark-3);
    }
    .active-icon {
      background: var(--bs-primary);
    }
  }

  .switch-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
      0px 0.5px 2px rgba(96, 97, 112, 0.16);
    border-radius: 24px;
  }
}

// ======
.switch-btn-secondary {
  .slide {
    .active-icon {
      background: var(--bs-secondary);
    }
  }
}

// ======
.switch-btn-text-secondary {
  .switch-body .slide-text .active {
    color: var(--bs-secondary);
  }

  .slide {
    .active-icon {
      background: var(--bs-secondary);
    }
  }
}

// ======
.switch-btn-success {
  .slide {
    .active-icon {
      background: var(--bs-success);
    }
  }
}

// ======
.switch-btn-text-success {
  .switch-body .slide-text .active {
    color: var(--bs-success);
  }

  .slide {
    .active-icon {
      background: var(--bs-success);
    }
  }
}

// ======
.switch-btn-error {
  .slide {
    .active-icon {
      background: var(--bs-error);
    }
  }
}

// ======
.switch-btn-text-error {
  .switch-body .slide-text .active {
    color: var(--bs-error);
  }

  .slide {
    .active-icon {
      background: var(--bs-error);
    }
  }
}
