/* ===== Buttons Css ===== */

%primary-btn {
  background: var(--bs-primary);
  color: var(--bs-white);
  box-shadow: var(--bs-shadow-2);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-primary-dark);
    color: var(--bs-white);
    box-shadow: var(--bs-shadow-4);
  }

  &.deactive {
    background: var(--bs-gray-4);
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%primary-btn-outline {
  border-color: var(--bs-primary);
  color: var(--bs-primary);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-primary-dark);
    color: var(--bs-white);
  }

  &.deactive {
    color: var(--bs-dark-3);
    border-color: var(--bs-gray-4);
    pointer-events: none;
  }
}

%primary-btn-link {
  color: var(--bs-primary);

  &.active,
  &:hover,
  &:focus {
    color: var(--bs-primary-dark);
  }

  &.deactive {
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%success-btn {
  background: var(--bs-success);
  color: var(--bs-white);
  box-shadow: var(--bs-shadow-2);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-success-dark);
    color: var(--bs-white);
    box-shadow: var(--bs-shadow-4);
  }

  &.deactive {
    background: var(--bs-success-light);
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%success-btn-outline {
  border-color: var(--bs-success);
  color: var(--bs-success);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-success-dark);
    color: var(--bs-white);
  }

  &.deactive {
    color: var(--bs-dark-3);
    border-color: var(--bs-success-light);
    pointer-events: none;
  }
}

%success-btn-link {
  color: var(--bs-success);

  &.active,
  &:hover,
  &:focus {
    color: var(--bs-success-dark);
  }

  &.deactive {
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%secondary-btn {
  background: var(--bs-secondary);
  color: var(--bs-white);
  box-shadow: var(--bs-shadow-2);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-secondary-dark);
    color: var(--bs-white);
    box-shadow: var(--bs-shadow-4);
  }

  &.deactive {
    background: var(--bs-secondary-light);
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%secondary-btn-outline {
  border-color: var(--bs-secondary);
  color: var(--bs-secondary);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-secondary-dark);
    color: var(--bs-white);
  }

  &.deactive {
    color: var(--bs-dark-3);
    border-color: var(--bs-secondary-light);
    pointer-events: none;
  }
}

%secondary-btn-link {
  color: var(--bs-secondary);

  &.active,
  &:hover,
  &:focus {
    color: var(--bs-secondary-dark);
  }

  &.deactive {
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%info-btn {
  background: var(--bs-info);
  color: var(--bs-white);
  box-shadow: var(--bs-shadow-2);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-info-dark);
    color: var(--bs-white);
    box-shadow: var(--bs-shadow-4);
  }

  &.deactive {
    background: var(--bs-info-light);
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%info-btn-outline {
  border-color: var(--bs-info);
  color: var(--bs-info);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-info-dark);
    color: var(--bs-white);
  }

  &.deactive {
    color: var(--bs-dark-3);
    border-color: var(--bs-info-light);
    pointer-events: none;
  }
}

%info-btn-link {
  color: var(--bs-info);

  &.active,
  &:hover,
  &:focus {
    color: var(--bs-info-dark);
  }

  &.deactive {
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%caution-btn {
  background: var(--bs-caution);
  color: var(--bs-white);
  box-shadow: var(--bs-shadow-2);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-caution-dark);
    color: var(--bs-white);
    box-shadow: var(--bs-shadow-4);
  }

  &.deactive {
    background: var(--bs-caution-light);
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%caution-btn-outline {
  border-color: var(--bs-caution);
  color: var(--bs-caution);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-caution-dark);
    color: var(--bs-white);
  }

  &.deactive {
    color: var(--bs-dark-3);
    border-color: var(--bs-caution-light);
    pointer-events: none;
  }
}

%caution-btn-link {
  color: var(--bs-caution);

  &.active,
  &:hover,
  &:focus {
    color: var(--bs-caution-dark);
  }

  &.deactive {
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%error-btn {
  background: var(--bs-error);
  color: var(--bs-white);
  box-shadow: var(--bs-shadow-2);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-error-dark);
    color: var(--bs-white);
    box-shadow: var(--bs-shadow-4);
  }

  &.deactive {
    background: var(--bs-error-light);
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}

%error-btn-outline {
  border-color: var(--bs-error);
  color: var(--bs-error);

  &.active,
  &:hover,
  &:focus {
    background: var(--bs-error-dark);
    color: var(--bs-white);
  }

  &.deactive {
    color: var(--bs-dark-3);
    border-color: var(--bs-error-light);
    pointer-events: none;
  }
}

%error-btn-link {
  color: var(--bs-error);

  &.active,
  &:hover,
  &:focus {
    color: var(--bs-error-dark);
  }

  &.deactive {
    color: var(--bs-dark-3);
    pointer-events: none;
  }
}