/* ===== Buttons Css ===== */
.signin-two .light-rounded-buttons .primary-btn {
  background: var(--bs-primary);
  color: var(--bs-white);
  box-shadow: var(--bs-shadow-2);
}
.signin-two .light-rounded-buttons .active.primary-btn, .signin-two .light-rounded-buttons .primary-btn:hover, .signin-two .light-rounded-buttons .primary-btn:focus {
  background: var(--bs-primary-dark);
  color: var(--bs-white);
  box-shadow: var(--bs-shadow-4);
}
.signin-two .light-rounded-buttons .deactive.primary-btn {
  background: var(--bs-gray-4);
  color: var(--bs-dark-3);
  pointer-events: none;
}

/*===========================
  SING IN SING UP css 
===========================*/
.signin-two {
  padding-top: 100px;
  padding-bottom: 100px;
  /*background-color: var(--bs-light-2);*/
}
.signin-two .form-input {
  margin-top: 16px;
}
.signin-two .form-input .main-btn {
  width: 100%;
}
.signin-two .form-input .text {
  font-size: 16px;
  line-height: 24px;
  color: var(--bs-dark-3);
}
.signin-two .form-input .text a {
  color: var(--bs-primary);
}
.signin-two .light-rounded-buttons {
  margin-top: 20px;
}
.signin-two .form-input .help-block {
  margin-top: 2px;
}
.signin-two .form-input .help-block .list-unstyled li {
  font-size: 12px;
  line-height: 16px;
  color: var(--bs-error);
}
.signin-two .form-input label {
  font-size: 12px;
  line-height: 18px;
  color: var(--bs-dark-3);
  margin-bottom: 8px;
  display: inline-block;
}
.signin-two .form-input .input-items {
  position: relative;
}
.signin-two .form-input .input-items input, .signin-two .form-input .input-items textarea {
  width: 100%;
  height: 44px;
  border: 2px solid;
  padding-left: 44px;
  padding-right: 12px;
  position: relative;
  font-size: 16px;
}
.signin-two .form-input .input-items textarea {
  padding-top: 8px;
  height: 130px;
  resize: none;
}
.signin-two .form-input .input-items i {
  position: absolute;
  top: 11px;
  left: 13px;
  font-size: 20px;
  z-index: 9;
}
.signin-two .form-input .input-items.default input, .signin-two .form-input .input-items.default textarea {
  border-color: var(--bs-gray-4);
  color: var(--bs-dark-3);
}
.signin-two .form-input .input-items.default input:focus, .signin-two .form-input .input-items.default textarea:focus {
  border-color: var(--bs-primary);
}
.signin-two .form-input .input-items.default input::placeholder, .signin-two .form-input .input-items.default textarea::placeholder {
  color: var(--bs-dark-3);
  opacity: 1;
}
.signin-two .form-input .input-items.default i {
  color: var(--bs-dark-3);
}
.signin-two .form-input .input-items.error input, .signin-two .form-input .input-items.error textarea {
  border-color: var(--bs-error);
  color: var(--bs-error);
}
.signin-two .form-input .input-items.error input::placeholder, .signin-two .form-input .input-items.error textarea::placeholder {
  color: var(--bs-error);
  opacity: 1;
}
.signin-two .form-input .input-items.error i {
  color: var(--bs-error);
}
.signin-two .form-style-two .form-input .input-items input, .signin-two .form-style-two .form-input .input-items textarea {
  border-radius: 5px;
  padding-left: 12px;
  padding-right: 44px;
}
.signin-two .form-style-two .form-input .input-items i {
  left: auto;
  right: 13px;
}

.signin-content {
  margin-top: 16px;
}
.signin-content .signin-title {
  font-size: 24px;
  line-height: 30px;
  color: var(--bs-black);
}
.signin-content .text {
  font-size: 16px;
  line-height: 24px;
  color: var(--bs-dark-3);
  margin-top: 8px;
}

/*# sourceMappingURL=sign-in-up-02.css.map */
